[Unit]
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=hd-idle
Image=ghcr.io/lehmanju/containers/hd-idle:latest
AutoUpdate=registry
PodmanArgs=--privileged
Exec=-i 300 -c ata

[Install]
WantedBy=multi-user.target default.target