[Unit]
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=tuned
Image=ghcr.io/lehmanju/tuned:latest
AutoUpdate=registry
PodmanArgs=--privileged
Exec=-p powersave --no-dbus

[Install]
WantedBy=multi-user.target default.target