[Container]
ContainerName=cabernet
AutoUpdate=registry
Image=ghcr.io/cabernetwork/cabernet:latest
PublishPort=6077:6077
Environment=PUID=1000
Environment=GUID=1000
Environment=TZ=Etc/UTC
User=0
UserNS=keep-id
Volume=/var/srv/cabernet/data:/app/data:z
Volume=/var/srv/cabernet/plugins:/app/plugins_ext:z
Volume=/var/srv/cabernet/secrets:/app/.cabernet:z
Network=jellynet.network

[Install]
WantedBy=multi-user.target default.target