[Container]
ContainerName=godns-ip4
AutoUpdate=registry
Image=ghcr.io/timothyye/godns:latest
Volume=/var/srv/godns/config_ipv4.json:/config.json

[Install]
WantedBy=mutli-user.target default.target