[Container]
ContainerName=hd-idle
AutoUpdate=registry
Image=ghcr.io/lehmanju/containers/hd-idle:latest
AddDevice=/dev/sda
AddDevice=/dev/sdb
AddDevice=/dev/sdc
AddDevice=/dev/sdd
AddDevice=/dev/sde
AddDevice=/dev/sdf
AddDevice=/dev/sdg
Exec=-i 300

[Install]
WantedBy=multi-user.target default.target