[Unit]
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=jellyfin
AutoUpdate=registry
Image=docker.io/jellyfin/jellyfin
Volume=jellyfin-config.volume:/config
Volume=jellyfin-cache.volume:/cache
Volume=/preciousvol/television:/media
Volume=/dev/dri/renderD128:/dev/dri/renderD128
UserNS=keep-id
Network=jellynet.network

[Install]
WantedBy=mutli-user.target default.target