[Container]
ContainerName=jellyfin
AutoUpdate=registry
Image=docker.io/jellyfin/jellyfin
Volume=jellyfin-config.volume:/config:z
Volume=jellyfin-cache.volume:/cache:z
Volume=/var/preciousvol/television:/media:z
Volume=/dev/dri/renderD128:/dev/dri/renderD128
UserNS=keep-id
Network=jellynet.network

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target