[Container]
ContainerName=minecraft
AutoUpdate=registry
Image=docker.io/itzg/minecraft-server
PublishPort=25565:25565
Volume=/var/srv/minecraft/data:/data:Z
Volume=/var/srv/minecraft/plugins:/plugins:Z
UserNS=keep-id
AddCapability=NET_RAW
Environment=EULA=true
Environment=ENABLE_AUTOPAUSE=true
Environment=AUTOPAUSE_KNOCK_INTERFACE=enp2s0
Environment=AUTOPAUSE_TIMEOUT_INIT=300
Environment=AUTOPAUSE_TIMEOUT_EST=600
Environment=MAX_TICK_TIME=-1
Environment=OPS=488c9608-efcf-4a7d-908b-c3a72a851d2f
Environment=INIT_MEMORY=1G
Environment=MAX_MEMORY=4G
Environment=TYPE=VANILLA
Environment=TZ=Europe/Berlin
Environment=VERSION=1.21

[Install]
WantedBy=multi-user.target default.target