[Unit]
Requires=nc_db.service nc_redis.service

[Container]
Pod=nextcloud.pod
ContainerName=nc_app
AutoUpdate=registry
Image=docker.io/nextcloud:fpm-alpine
Volume=nextcloud.volume:/var/www/html:z
Volume=/var/preciousvol/nextcloud/data:/var/www/html/data:z
Volume=nextcloud_cache.volume:/cache:z
Environment=POSTGRES_DB=nextcloud
Environment=POSTGRES_USER=nextcloud
Environment=POSTGRES_PASSWORD=%%NEXTCLOUD_POSTGRES_PW%%
Environment=POSTGRES_HOST=localhost
Environment=REDIS_HOST=localhost
Environment=NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.devpi.de
Environment=TRUSTED_PROXIES=127.0.0.1
Environment=OVERWRITECLIURL=https://nextcloud.devpi.de
Environment=OVERWRITEPROTOCOL=https
Environment=NEXTCLOUD_CACHE_PATH=/cache
User=1000
UserNS=keep-id

[Install]
WantedBy=multi-user.target default.target