[Container]
Pod=nextcloud.pod
ContainerName=nc_db
AutoUpdate=registry
Volume=nextcloud_db.volume:/var/lib/postgresql/data
Image=docker.io/postgres:alpine
Environment=POSTGRES_DB=nextcloud
Environment=POSTGRES_USER=nextcloud
Environment=POSTGRES_PASSWORD=%%NEXTCLOUD_POSTGRES_PW%%

[Install]
WantedBy=mutli-user.target default.target