[Unit]
Wants=network-online.target
After=network-online.target

[Container]
Pod=paperless.pod
ContainerName=pl_broker
AutoUpdate=registry
Image=docker.io/library/redis:7

[Install]
WantedBy=mutli-user.target default.target