[Container]
Pod=paperless.pod
ContainerName=pl_db
AutoUpdate=registry
Image=docker.io/library/postgres:15-alpine
Volume=plpgdata.volume:/var/lib/postgresql/data
Environment=POSTGRES_DB=paperless
Environment=POSTGRES_USER=paperless
Environment=POSTGRES_PASSWORD=%%PAPERLESS_DBPASS%%